h1 {
    font-size: 60px;
    font-family: 'The Nautigal', cursive;
    color:darkblue;
}

.gold-color {
    color: gold;
    font-size: 50px;
}

section {
    display: flex;
}
.half-width{
    width: 50%;
    padding left: 10px;;
}
.half-width img{
    width: 80%;
    padding-left: 50px;
    padding-top: 20px;

}